<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- Entitybroker required -->
	<!-- There's also some entitybroker stuff in the tool -->
	<bean id="org.sakaiproject.api.app.messageforums.ForumTopicEntityProvider" class="org.sakaiproject.component.app.messageforums.entity.ForumTopicEntityProviderImpl">
		<property name="forumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager" />
	</bean>

	<bean id="org.sakaiproject.api.app.messageforums.TopicEntityProvider" class="org.sakaiproject.component.app.messageforums.entity.TopicEntityProviderImpl">
		<property name="forumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager" />
		<property name="uiPermissionsManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.UIPermissionsManager"/>
		</property>
		<property name="messageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsMessageManager"/>
		</property>
		<property name="privateMessageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.PrivateMessageManager"/>
		</property>
		<property name="typeManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsTypeManager"/>
		</property>
	</bean>

	<bean id="org.sakaiproject.api.app.messageforums.ForumEntityProvider" class="org.sakaiproject.component.app.messageforums.entity.ForumEntityProviderImpl">
		<property name="forumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager" />
	</bean>


	<bean id="org.sakaiproject.api.app.messageforums.ForumMessageEntityProvider" class="org.sakaiproject.component.app.messageforums.entity.ForumMessageEntityProviderImpl">
		<property name="forumManager" ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager" />
		<property name="privateMessageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.PrivateMessageManager"/>
		</property>
		<property name="uiPermissionsManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.UIPermissionsManager"/>
		</property>
		<property name="messageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsMessageManager"/>
		</property>
	</bean>


	<bean id="org.sakaiproject.api.app.messageforums.SynopticMsgcntrItemProvider" class="org.sakaiproject.component.app.messageforums.entity.SynopticMsgcntrItemEntityProviderImpl">
		<property name="synopticMsgcntrManager" ref="org.sakaiproject.api.app.messageforums.SynopticMsgcntrManager" />
	</bean>


	<!-- Needs search -->
	<bean id="forumsAdaptor"
		  class="org.sakaiproject.component.app.messageforums.entity.MessageForumsEntityContentProducer"
		  singleton="true" init-method="init">
		<property name="searchService">
			<ref bean="org.sakaiproject.search.api.SearchService" />
		</property>
		<property name="searchIndexBuilder">
			<ref bean="org.sakaiproject.search.api.SearchIndexBuilder" />
		</property>
		<property name="serverConfigurationService">
			<ref bean="org.sakaiproject.component.api.ServerConfigurationService" />
		</property>
		<property name="toolName">
			<value>forums</value>
		</property>
		<property name="entityBroker" ref="org.sakaiproject.entitybroker.EntityBroker" />
		<property name="messageForumsMessageManager"
				  ref="org.sakaiproject.api.app.messageforums.MessageForumsMessageManager" />
		<property name="UIPermissionManager"
				  ref="org.sakaiproject.api.app.messageforums.ui.UIPermissionsManager" />
		<property name="discussionForumManager"
				  ref="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager" />
		<property name="developerHelperService"
				  ref="org.sakaiproject.entitybroker.DeveloperHelperService" />
		<property name="addEvents">
			<list>
				<value>forums.new</value>
			</list>
		</property>
		<property name="removeEvents">
			<list>
				<value>forums.delete</value>
			</list>
		</property>
	</bean>

	<!-- Needs quartz -->

	<bean id="org.sakaiproject.api.app.messageforums.ForumScheduleNotification" class="org.sakaiproject.component.app.messageforums.ForumScheduleNotificationImpl">
		<property name="timeService" ref="org.sakaiproject.time.api.TimeService" />
		<property name="scheduledInvocationManager" ref="org.sakaiproject.api.app.scheduler.ScheduledInvocationManager" />
		<property name="typeManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsTypeManager"/>
		</property>
		<property name="areaManager">
			<ref bean="org.sakaiproject.api.app.messageforums.AreaManager"/>
		</property>
		<property name="forumManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager"/>
		</property>
		<property name="sessionManager">
			<ref bean="org.sakaiproject.tool.api.SessionManager"/>
		</property>
	</bean>


	<bean id="UpdateSynopticMessageCountsJob"
		  class="org.sakaiproject.component.app.scheduler.jobs.SpringJobBeanWrapper"
		  singleton="true" init-method="init">
		<property name="beanId">
			<value>org.sakaiproject.component.app.messageforums.jobs.UpdateSynopticMessageCounts</value>
		</property>
		<property name="jobName">
			<value>Update Synoptic Message Counts Job</value>
		</property>
		<property name="schedulerManager">
			<ref bean="org.sakaiproject.api.app.scheduler.SchedulerManager" />
		</property>
	</bean>


	<bean id="org.sakaiproject.component.app.messageforums.jobs.UpdateSynopticMessageCounts"
		  class="org.sakaiproject.component.app.messageforums.jobs.UpdateSynopticMessageCounts"
		  init-method="init">
		<property name="pvtMessageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.PrivateMessageManager"/>
		</property>

		<property name="uiPermissionsManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.UIPermissionsManager"/>
		</property>
		<property name="typeManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsTypeManager"/>
		</property>
		<property name="forumManager">
			<ref bean="org.sakaiproject.api.app.messageforums.ui.DiscussionForumManager"/>
		</property>
		<property name="messageManager">
			<ref bean="org.sakaiproject.api.app.messageforums.MessageForumsMessageManager"/>
		</property>
		<property name="siteService">
			<ref bean="org.sakaiproject.site.api.SiteService"/>
		</property>
	</bean>


</beans>